.parallax-window {
    min-height: 500px;
    background: transparent;
}

html, body{
   padding: 0;
   margin: 0;
}

<!--giving my parallax-window height and background.-->

.overlay {
    min-height: 500px;
    padding: 50px;
        
}

<!--overlay is the shading on top of the images which are scrolling.-->

.black-bg {
    background:  #6e16d4 (0,0,0,100);  
    color: #111aef;  
}

.white-bg {
    background:  #e8164e (0,0,0,100);  
    color: #d5ef11;  
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
 }

.clearfix {
    clear: both;
}

.image-width {
    width: 100%; 
}

.title {

  color: red; 
  font-family: cursive;
  position: fixed;
  top: 30px;
  right: 550px;
  
    
}

<!--title appearance -->

.subtitle {

  color: #1400ff; 
  font-family: cursive;
  position: fixed;
  top: 100px;
  right: 625px;
  bottom: 150px;


}

.avatar {
    position: relative;
    left: 0;
    top: 0;
     
}

#middlevideo {

    position: absolute;  
    width: 300px;
    height: 300px;
    left: 1000px;
}

.hide {
    display: none; 
}

.video {
    position: absolute;  
    width: 300px;
    height: 300px;
    left: 100px;
}

.link {

    position: absolute;
    left: 1000px;
    
    
}

.link1 {

    position: absolute;
    left:1100px; 
    
}

.link2 {

    position: absolute;
    left: 1200px; 
    
}
