.parallax-window {
    min-height: 500px;
    background: transparent;
}

<!--giving my parallax-window height and background.-->

.overlay {
    min-height: 500px;
    padding: 50px;
        
}

<!--overlay is the shading on top of the images which are scrolling.-->

.black-bg {
    background:  #6e16d4 (0,0,0,100);  
    color: #111aef;  
}

.white-bg {
    background:  #e8164e (0,0,0,100);  
    color: #d5ef11;  
}

.container {
    width: 900px; 
    margin: 0px auto; 
 }

.clearfix {
    clear: both;
}

.image-width {
    width: 100%; 
}

.title {

  color: red; 
  font-family: cursive;
  position: fixed;
  top: 30px;
  right: 550px;
  
    
}

<!--title appearance -->

.subtitle {

  color: #1400ff; 
  font-family: cursive;
  position: fixed;
  top: 100px;
  right: 625px;
  bottom: 150px;


}

.avatar {
    position: relative;
    left: 0;
    top: 0;
     
}


